*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   overflow: hidden;
}

.top-bottom{
   width: 100%;
   min-height: 10vh;
   position: fixed;
   z-index: 1000;
   display: flex;
   align-items: center;

   background-color: #90caf9;
}
#top{
   top: 0;
   left: 0;
   justify-content: space-between;
}

header, footer {
   padding: 20px;
}

.header-logo {
   background-color: white;
   color: #000;
   width: 10%;
   border: 2px solid black;
   text-align: right;
   padding: 10px;
}

.footer-logo {
   background-color: white;
   color: #000;
   width: 10%;
   text-align: left;
   border: 2px solid black;
   padding: 10px;
}

table {
    width: 100%;
}

nav {
    width: 11%;
}

td {
    padding: 15px 5px;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
}

td:hover {
    cursor: pointer;
    background-color: rgb(227, 227, 227);
}

a {
    text-decoration: none;
    color: black;
}

#bottom{
   bottom: 0;
   left: 0;
   justify-content: space-between;
}

body{
   height: 100vh;
   padding-top: 10vh; 
   padding-bottom: 10vh;
}

.main{
   width: 100%;
   height: 100%;
}

.main div{
   transition: all 0.3s ease-in;
}

.first-half {
   height: 100%;
   width: 45%;
   float: left;
   margin-left: 2.5%;
}

.left-side{
   height: 100%;
   float: left;
   width: 45%;
   margin-right: 2.5%;
   justify-items: left;
   align-content: center;
   padding-left: 20px;
   background-color: aqua;
}
.right-side {
   height: 100%;
   float: right;
   width: 45%;
   margin-right: 2.5%;
   margin-left: 2.5%;
   justify-items: left;
   align-content: center;
   text-align: left;
   padding-left: 20px;
   background-color: #b49b9b;
}

.second-half{
   float: right;
   height: 100%;
   width: 45%;
   margin-right: 2.5%;
}

.up-row {
   background-color: coral;
   place-items: center;
   text-align: center;
   padding: 6rem;
   color: black;
   font-weight: bold;
   height: 30%;
   width: 95%;
   margin-left: 2.5%;
   margin-right: 2.5%;
   margin-bottom: 0;
}

.down-row{
   height: 70%;
   width: 95%;
   margin-left: 2.5%;
   margin-right: 2.5%;
   margin-top: 0;
}

.donw-left-column{
   float: left;
   width: 45%;
   margin-right: 2.5%;
   background-color: chartreuse;
   justify-items: left;
   align-content: center;
   text-align: left;
}

.donw-right-column{
   float: right;
   width: 45%;
   margin-left: 2.5%;
   justify-items: left;
   align-content: center;
   text-align: left;
   background-color: violet;
}

.donw-left-column, .donw-right-column {
   height: 100%;
   margin: 0;
   padding-left: 20px;
}

p {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 5px;
 }

.text-wrapper{
   color: black;
   padding: 5px;
   font-family: 'rdr-font', sans-serif;
   font-weight: 600;
   font-size: 3.5rem;
}

a {
   text-decoration: none;
   color: black;
}

li {
   font:
     1rem 'Fira Sans',
     sans-serif;
   margin-bottom: 0.5rem;
   margin-top: 10px;
   justify-content: center;
   align-items: left;
   text-align: left;
 }

  .midl-section h3,
  .donw-left-column h3,
  .donw-right-column h3 {
      text-align: left;
      float: left;
  }